<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecretID</key>
	<string>G3f5FyhxdmWoq0h_LLNkShvhaz_rsxvd2gXtFMEp_uhuPOXxPrhH-tZbg-qDJuOSUIiUTYpuCkP5juNZc1vIbA</string>
	<key>ClientID</key>
	<string>2133ae98-c836-4186-852a-0b63dadd2536</string>
</dict>
</plist>
